In [2]:
import pandas as pd
from requests import get
import re
from bs4 import BeautifulSoup

## Extract Player Data

In [3]:
df = pd.read_csv('player_names.csv')
df

       team_name           player_name
0    Afghanistan  Hashmatullah Shahidi
1    Afghanistan    Rahmanullah Gurbaz
2    Afghanistan        Ibrahim Zadran
3    Afghanistan          Reyaz Hassan
4    Afghanistan   Rahmat Shah Zurmati
..           ...                   ...
145    Sri Lanka      Dunith Wellalage
146    Sri Lanka         Kasun Rajitha
147    Sri Lanka   Matheesha Pathirana
148    Sri Lanka         Lahiru Kumara
149    Sri Lanka    Dilshan Madushanka

[150 rows x 2 columns]

In [4]:
df['team_name'].value_counts()

Afghanistan     15
Australia       15
Bangladesh      15
England         15
India           15
Netherlands     15
New Zealand     15
Pakistan        15
South Africa    15
Sri Lanka       15
Name: team_name, dtype: int64

In [5]:
# Add new column PlayerID
df['player_id'] = None
df

       team_name           player_name player_id
0    Afghanistan  Hashmatullah Shahidi      None
1    Afghanistan    Rahmanullah Gurbaz      None
2    Afghanistan        Ibrahim Zadran      None
3    Afghanistan          Reyaz Hassan      None
4    Afghanistan   Rahmat Shah Zurmati      None
..           ...                   ...       ...
145    Sri Lanka      Dunith Wellalage      None
146    Sri Lanka         Kasun Rajitha      None
147    Sri Lanka   Matheesha Pathirana      None
148    Sri Lanka         Lahiru Kumara      None
149    Sri Lanka    Dilshan Madushanka      None

[150 rows x 3 columns]

### Australia

In [6]:
australian_players = df[df['team_name'] == 'Australia']['player_name'].values
australian_players

for player in australian_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == 'Mitch Marsh':
        df.loc[df['player_name'] == player, 'player_id'] = '272450'
        continue

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'

    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id

df[df['team_name'] == 'Australia']

    team_name         player_name player_id
15  Australia         Pat Cummins    489889
16  Australia         Steve Smith      7656
17  Australia          Alex Carey    326434
18  Australia         Josh Inglis    662235
19  Australia         Sean Abbott    398666
20  Australia       Cameron Green   1076713
21  Australia      Josh Hazlewood    288284
22  Australia         Travis Head    530011
23  Australia  Marnus Labuschagne    787987
24  Australia         Mitch Marsh    272450
25  Australia       Glenn Maxwell    325026
26  Australia      Marcus Stoinis    325012
27  Australia        David Warner    219889
28  Australia          Adam Zampa    379504
29  Australia      Mitchell Starc    311592

### Bangladesh

In [7]:
bangladesh_players = df[df['team_name'] == 'Bangladesh']['player_name'].values
bangladesh_players

for player in bangladesh_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == 'Litton Kumer Das':
        df.loc[df['player_name'] == player, 'player_id'] = '536936'
        continue

    if player == 'Tanzid Hasan Tamim':
        df.loc[df['player_name'] == player, 'player_id'] = '990023'
        continue

    if player == 'Shak Mahedi Hasan':
        df.loc[df['player_name'] == player, 'player_id'] = '833087'
        continue
    

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'

    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id
                break

df[df['team_name'] == 'Bangladesh']

     team_name            player_name player_id
30  Bangladesh        Shakib Al Hasan     56143
31  Bangladesh       Litton Kumer Das    536936
32  Bangladesh     Tanzid Hasan Tamim    990023
33  Bangladesh  Najmul Hossain Shanto    629058
34  Bangladesh          Tawhid Hridoy    990031
35  Bangladesh        Mushfiqur Rahim     56029
36  Bangladesh      Mahmudullah Riyad     56025
37  Bangladesh     Mehidy Hasan Miraz    629063
38  Bangladesh            Nasum Ahmed    348049
39  Bangladesh      Shak Mahedi Hasan    833087
40  Bangladesh           Taskin Ahmed    538506
41  Bangladesh      Mustafizur Rahman    330902
42  Bangladesh           Hasan Mahmud    926629
43  Bangladesh         Shoriful Islam    990039
44  Bangladesh     Tanzim Hasan Sakib   1139520

### England

In [9]:
england_players = df[df['team_name'] == 'England']['player_name'].values
england_players

for player in england_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id
                break

df[df['team_name'] == 'England']

   team_name       player_name player_id
45   England       Jos Buttler    308967
46   England         Moeen Ali      8917
47   England      Gus Atkinson   1039481
48   England    Jonny Bairstow    297433
49   England       Harry Brook    911707
50   England        Sam Curran    662973
51   England  Liam Livingstone    403902
52   England       Dawid Malan    236489
53   England       Adil Rashid    244497
54   England          Joe Root    303669
55   England        Ben Stokes    311158
56   England      Reece Topley    461632
57   England      David Willey    308251
58   England         Mark Wood    351588
59   England      Chris Woakes    247235

### India

In [10]:
indian_players = df[df['team_name'] == 'India']['player_name'].values
indian_players

for player in indian_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == "Surya Kumar Yadav":
        df.loc[df['player_name'] == player, 'player_id'] = '446507'
        continue

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id
                break

df[df['team_name'] == 'India']

   team_name          player_name player_id
60     India         Rohit Sharma     34102
61     India        Hardik Pandya    625371
62     India         Shubman Gill   1070173
63     India          Virat Kohli    253802
64     India         Shreyas Iyer    642519
65     India             KL Rahul    422108
66     India      Ravindra Jadeja    234675
67     India  Ravichandran Ashwin     26421
68     India       Shardul Thakur    475281
69     India       Jasprit Bumrah    625383
70     India       Mohammed Siraj    940973
71     India        Kuldeep Yadav    559235
72     India       Mohammed Shami    481896
73     India         Ishan Kishan    720471
74     India    Surya Kumar Yadav    446507

### Netherlands

In [12]:
netherlands_players = df[df['team_name'] == 'Netherlands']['player_name'].values
netherlands_players

for player in netherlands_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id




df[df['team_name'] == 'Netherlands']

      team_name           player_name player_id
75  Netherlands         Scott Edwards   1127317
76  Netherlands            Max O'Dowd    643197
77  Netherlands          Bas de Leede   1036191
78  Netherlands          Vikram Singh     35281
79  Netherlands       Teja Nidamanuru   1129328
80  Netherlands     Paul van Meekeren    348109
81  Netherlands       Colin Ackermann    379774
82  Netherlands  Roelof van der Merwe     47850
83  Netherlands        Logan van Beek    440522
84  Netherlands            Aryan Dutt   1195672
85  Netherlands            Ryan Klein    594996
86  Netherlands        Wesley Barresi     44407
87  Netherlands        Saqib Zulfiqar    526481
88  Netherlands          Shariz Ahmad   1278252
89  Netherlands   Sybrand Engelbrecht    315035

### New Zealand

In [15]:
nz_players = df[df['team_name'] == 'New Zealand']['player_name'].values
nz_players

for player in nz_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == "Jimmy Neesham":
        df.loc[df['player_name'] == player, 'player_id'] = '355269'
        continue

    if player == "Mitch Santner":
        df.loc[df['player_name'] == player, 'player_id'] = '502714'
        continue


    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id


df[df['team_name'] == 'New Zealand']

       team_name      player_name player_id
90   New Zealand  Kane Williamson    277906
91   New Zealand      Trent Boult    277912
92   New Zealand     Mark Chapman    438563
93   New Zealand     Devon Conway    379140
94   New Zealand  Lockie Ferguson    493773
95   New Zealand       Matt Henry    506612
96   New Zealand       Tom Latham    388802
97   New Zealand   Daryl Mitchell    381743
98   New Zealand    Jimmy Neesham    355269
99   New Zealand   Glenn Phillips    823509
100  New Zealand  Rachin Ravindra    959767
101  New Zealand    Mitch Santner    502714
102  New Zealand        Ish Sodhi    559066
103  New Zealand      Tim Southee    232364
104  New Zealand       Will Young    547749

### Pakistan

In [19]:
pak_players = df[df['team_name'] == 'Pakistan']['player_name'].values
pak_players

for player in pak_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == "Salman Ali Agha":
        df.loc[df['player_name'] == player, 'player_id'] = '623977'
        continue

    if player == "Shaheen Afridi":
        df.loc[df['player_name'] == player, 'player_id'] = '1072470'
        continue
    
    if player == "Mohammad Wasim":
        df.loc[df['player_name'] == player, 'player_id'] = '1185538'
        continue


    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id


df[df['team_name'] == 'Pakistan']

    team_name        player_name player_id
105  Pakistan         Babar Azam    348144
106  Pakistan        Shadab Khan    922943
107  Pakistan       Fakhar Zaman    512191
108  Pakistan        Imam-ul-Haq    568276
109  Pakistan  Abdullah Shafique    922941
110  Pakistan    Mohammad Rizwan    323389
111  Pakistan       Saud Shakeel    652687
112  Pakistan     Iftikhar Ahmed    480603
113  Pakistan    Salman Ali Agha    623977
114  Pakistan     Mohammad Nawaz    348148
115  Pakistan          Usama Mir    647667
116  Pakistan         Haris Rauf   1161606
117  Pakistan          Hasan Ali    681305
118  Pakistan     Shaheen Afridi   1072470
119  Pakistan     Mohammad Wasim   1185538

### South Africa

In [22]:
sa_players = df[df['team_name'] == 'South Africa']['player_name'].values
sa_players

for player in sa_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis


    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id


df[df['team_name'] == 'South Africa']

        team_name            player_name player_id
120  South Africa           Temba Bavuma    372116
121  South Africa         Gerald Coetzee    596010
122  South Africa        Quinton de Kock    379143
123  South Africa        Reeza Hendricks    269280
124  South Africa           Marco Jansen    696401
125  South Africa       Heinrich Klaasen    436757
126  South Africa     Andile Phehlukwayo    540316
127  South Africa         Keshav Maharaj    267724
128  South Africa          Aiden Markram    600498
129  South Africa           David Miller    321777
130  South Africa            Lungi Ngidi    542023
131  South Africa          Kagiso Rabada    550215
132  South Africa         Tabraiz Shamsi    379145
133  South Africa  Rassie van der Dussen    337790
134  South Africa        Lizaad Williams    379887

### Sri Lanka

In [28]:
df['team_name'].unique()

array(['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India',
       'Netherlands', 'New Zealand', 'Pakistan', 'South Africa',
       'Sri Lanka'], dtype=object)

In [30]:
sl_players = df[df['team_name'] == 'Sri Lanka']['player_name'].values
sl_players

for player in sl_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis


    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id


df[df['team_name'] == 'Sri Lanka']

     team_name             player_name player_id
135  Sri Lanka           Dasun Shanaka    437316
136  Sri Lanka            Kusal Mendis    629074
137  Sri Lanka            Kusal Perera    300631
138  Sri Lanka         Pathum Nissanka   1028655
139  Sri Lanka      Dimuth Karunaratne    227772
140  Sri Lanka  Sadeera Samarawickrama    629076
141  Sri Lanka        Charith Asalanka    784367
142  Sri Lanka     Dhananjaya de Silva    465793
143  Sri Lanka         Dushan Hemantha    721041
144  Sri Lanka      Maheesh Theekshana   1138316
145  Sri Lanka        Dunith Wellalage   1152427
146  Sri Lanka           Kasun Rajitha    499594
147  Sri Lanka     Matheesha Pathirana   1194795
148  Sri Lanka           Lahiru Kumara    784375
149  Sri Lanka      Dilshan Madushanka    793007

### Afghanistan

In [33]:
df['team_name'].unique()

array(['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India',
       'Netherlands', 'New Zealand', 'Pakistan', 'South Africa',
       'Sri Lanka'], dtype=object)

In [36]:
afg_players = df[df['team_name'] == 'Afghanistan']['player_name'].values
afg_players

for player in afg_players:
    # GET REQUEST
    # https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search=Pat+Cummins;template=analysis

    if player == "Reyaz Hassan":
        df.loc[df['player_name'] == player, 'player_id'] = '1061090'
        continue

    if player == "Rahmat Shah Zurmati":
        df.loc[df['player_name'] == player, 'player_id'] = '533956'
        continue

    if player == "Mohammad Nabi Eisakhil":
        df.loc[df['player_name'] == player, 'player_id'] = '25913'
        continue

    if player == "Ikram Ali Khil":
        df.loc[df['player_name'] == player, 'player_id'] = '935553'
        continue
    
    if player == "Rashid Khan Arman":
        df.loc[df['player_name'] == player, 'player_id'] = '793463'
        continue

    if player == "Noor Ahmad Lakanwal":
        df.loc[df['player_name'] == player, 'player_id'] = '1182529'
        continue

    if player == "Abdul Rahman Rahmani":
        df.loc[df['player_name'] == player, 'player_id'] = '819507'
        continue

    if player == "Naveen ul Haq Murid":
        df.loc[df['player_name'] == player, 'player_id'] = '793447'
        continue

    request_url = f'https://stats.espncricinfo.com/ci/engine/stats/analysis.html?search={player.replace(" ", "+")};template=analysis'
    response = get(request_url)

    soup = BeautifulSoup(response.text, 'html.parser')

    if response.status_code == 200:
        # find all links with className statsLinks
        links = soup.find_all('a', class_='statsLinks')
        ends_with = ".html?class=2;type=allround"
        starts_with = "/ci/engine/player/"
        
        for link in links:
            if link['href'].endswith(ends_with) and link['href'].startswith(starts_with):
                player_id = link['href'].split('/')[-1].split('.')[0]
                df.loc[df['player_name'] == player, 'player_id'] = player_id
                break


df[df['team_name'] == 'Afghanistan']

      team_name             player_name player_id
0   Afghanistan    Hashmatullah Shahidi    440970
1   Afghanistan      Rahmanullah Gurbaz    974087
2   Afghanistan          Ibrahim Zadran    921509
3   Afghanistan            Reyaz Hassan   1061090
4   Afghanistan     Rahmat Shah Zurmati    533956
5   Afghanistan       Najibullah Zadran    524049
6   Afghanistan  Mohammad Nabi Eisakhil     25913
7   Afghanistan          Ikram Ali Khil    935553
8   Afghanistan      Azmatullah Omarzai    819429
9   Afghanistan       Rashid Khan Arman    793463
10  Afghanistan        Mujeeb ur Rahman    974109
11  Afghanistan     Noor Ahmad Lakanwal   1182529
12  Afghanistan        Fazalhaq Farooqi    974175
13  Afghanistan    Abdul Rahman Rahmani    819507
14  Afghanistan     Naveen ul Haq Murid    793447

## Player ID Mapping

In [38]:
df.isnull().sum()

team_name      0
player_name    0
player_id      0
dtype: int64

In [39]:
df

       team_name           player_name player_id
0    Afghanistan  Hashmatullah Shahidi    440970
1    Afghanistan    Rahmanullah Gurbaz    974087
2    Afghanistan        Ibrahim Zadran    921509
3    Afghanistan          Reyaz Hassan   1061090
4    Afghanistan   Rahmat Shah Zurmati    533956
..           ...                   ...       ...
145    Sri Lanka      Dunith Wellalage   1152427
146    Sri Lanka         Kasun Rajitha    499594
147    Sri Lanka   Matheesha Pathirana   1194795
148    Sri Lanka         Lahiru Kumara    784375
149    Sri Lanka    Dilshan Madushanka    793007

[150 rows x 3 columns]

In [ ]:
# write df to csv
df.to_csv('player_team_name_id.csv', index=False)